{% extends 'base.html' %}
<style>
	.title{
		text-align: center;
		padding: 15px;
	}
	.search-box{
		height: 60px;
		font-size: 1.5em;
	}
	.space{
		height:50px;
	}
</style>
{% block title %}
<title>Easy Learning - Provides list of best resources</title>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-8  col-md-offset-2">
				<div class="title" style="text-align: center; margin-bottom: 50px;">
					<h1>Easy Learning</h1>
					<h4 style="padding-top: 20px;">Making learning easy by resources</h4>
				</div>
				<div class="form-group">
					<div class="ui-front">
						<form method="POST">
							{% csrf_token %}
							<div class="search_error" >{{ search_error }}</div>
							<input class="form-control form-control-lg search-box ui-autocomplete-input" type="text" id="topic_search" name="search" placeholder="Type what you want to learn e.g python, java, french">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="space"></div>
		<!-- Categories -->
		<h2>Latest Topics</h2>
		<hr>
		<div class="row">
			<!-- slice ":x" shows only x no. of entries -->
			{% for topic in latest_topics|slice:":3" %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="{% url 'TopicDetails' topic.slug %}">
					<div class="card text-white bg-primary ">
						<div class="card-body">
						    <blockquote class="card-blockquote">
						    	<br>
						    	<center>
								{{ topic.title }}</center>
								<br>
						    </blockquote>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<!-- //categories -->
		<div class="space"></div>

		<h2>Popular Topics</h2>
		<hr>
		<div class="row">
			<!-- slice ":x" shows only x no. of entries -->
			{% for topic in popular_topics|slice:":3" %}
				<div class="col-xs-12 col-sm-6 col-md-4">
					<a href="{% url 'TopicDetails' topic.slug %}">
					<div class="card text-white bg-primary ">
						<div class="card-body">
						    <blockquote class="card-blockquote">
						    	<br>
						    	<center>
								{{ topic.title }}</center>
								<br>
						    </blockquote>
						</div>
					</div>
					</a>
				</div>
			{% endfor %}
			<div class="col-xs-4 col-xs-offset-4">
				<a href="{% url 'TopicList' %}" type="button" class="btn btn-primary btn-block">View All Topics</a>
			</div>
		</div>

		<div class="space"></div>
	</div>
	
	<script>
		// function searchOpen() {
		// 	var search = $('#txtSearch').val()
		// 	var data = {
		// 		search: search
		// 	};
		// 	$.ajax({
		// 		url: '/ajaxcall/topicautocomplete/',
		// 		data: data,
		// 		dataType: 'jsonp',
		// 		jsonp: 'callback',
		// 		jsonpCallback: 'searchResult'
		// 	});
		// }

		// function searchResult(data) {
		// 	$( "#txtSearch" ).autocomplete ({
		// 		source: data
		// 	});
		// }
		jQuery(function() {
			$("#topic_search").on('keyup', function(){
				var value = $(this).val();
				value = value.charAt(0).toUpperCase() + value.slice(1);
				$.ajax({
					url: "{% url 'AjaxTopicAutocomplete' %}",
					data: {
						'search': value 
					},
					dataType: 'json',
					success: function (data) {
						list = data.list;
						$("#topic_search").autocomplete({
							source: list,
							minLength: 2,
						});       
					}
				});        
			});
		});
	</script>
{% endblock %}
