{% extends 'base.html' %}
{% block content %}
	<div class="container">
		<!-- breadcrumb -->
		<ul class="breadcrumb">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="{% url 'TopicDetails' resource.topic.slug %}">{{ resource.topic }}</a></li>
			<li><a>{{ resource }}</a></li>
			<li class="active">Edit</li>
		</ul>
		<!-- // breadcrumb -->

		<div class="well well-lg col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-title text-center">
					<legend>Edit Resource</legend>
				</div>
				{% include 'form_template.html' with form=form %}
				<button type="submit" class="btn btn-primary">Submit</button>
				<button class="btn btn-default" onclick="window.history.back()">Cancel</button>
			</form>
		</div>
	</div>
<style>
	.helptext{
		font-size: .8em;
	}
</style>
{% endblock %}